---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import Logo from "../../public/images/Logo.svg";
import Menu from "../../public/icons/menu.svg";

// Path Name
const pathName = Astro.url.pathname;
const listitems = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "About Us",
    href: "/about",
  },
  {
    name: "Properties",
    href: "/properties",
  },
  {
    name: "Services",
    href: "/services",
  },
];
---

<div
  class="flex items-center px-6 justify-between md:px-10 lg:px-24 gap-x-10 h-[100px] bg-Grey/10"
>
  <Image src={Logo} alt="Logo" width={160} height={48} loading="eager" />
  <ul class="lg:flex gap-x-8 items-center hidden">
    {
      listitems.map((item) => (
        <a
          href={item.href}
          class={`font-medium text-lg ${pathName === item.href ? "border border-Grey/15 py-4 px-6 rounded-xl bg-Grey/08" : "text-Grey/50"}`}
        >
          {item.name}
        </a>
      ))
    }
  </ul>
  <Image class="lg:hidden" src={Menu} alt="" width={28} height={28} />

  <Button
    text="Contact Us"
    className="hidden lg:block !bg-Grey/08"
    link="/contact"
  />
</div>
