---
import { Image } from "astro:assets";
import Fram from "../Frame.astro";
import SubFooter from "./Sub-Footer.astro";

import Logo from "../../../public/images/Logo.svg";
import SubscribeInput from "../Inputs/Subscribe-Input.astro";

import { footerData } from "../../constant/footer";
---

<div>
  <SubFooter />
  <Fram className="!grid lg:grid-cols-4 py-[80px] gap-6">
    <div class="flex flex-col gap-y-6">
      <Image alt="Logo" src={Logo} width={113} height={34} loading='lazy'/>
      <SubscribeInput />
    </div>
    <div class="lg:col-span-3 grid grid-cols-2 gap-y-6 md:grid-cols-5">
      {
        footerData.map((item) => (
          <div class="flex flex-col gap-y-6">
            <p class="text-Grey/60 font-medium text-base lg:text-lg xl:text-xl">
              {item.title}
            </p>

            <div class="flex flex-col gap-y-4 ">
              {item.sections.map((section) => (
                <p class="lg:text-base font-medium xl:text-lg text-sm">
                  {section.title}
                </p>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </Fram>
</div>
